{{title}}

<h1 style="text-align: center; margin-top: 40vh;">Welcome to the Chat App. Click to join a room! </h1>

<a href="/userlogin" style="text-decoration: none"><h3 style="text-align: center">Create Account</h3></a>